.circular-progress {
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circular-progress::before {
  content: "";
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #474040;
}
.percentage-value {
  position: relative;
  color: white;
}
.disc-bullet{
    padding-left: 15px;
    margin-left: 15px;
}
.disc-bullet::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #333131;
}
